
.calculator{
  color:rgb(68, 43, 43);
  border: 5px solid #a00b0b;
  border-radius: 10px;

}
.button-panel {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
}
.display {
    background: #fed7f8;
    padding: 20px;
    font-size: 2em;
    text-align: center;
}
button{
  background: #f3f5e0;
    margin: 5px;
    padding: 10px;
}