.button-panel{
  border:8px;
  display:flex;

}
.calculator{
color:red;
 border: 1px solid #ccc;
    border-radius: 10px;

  

}
.button-panel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.display {
    background: #f0f0f0;
    padding: 20px;
    font-size: 2em;
    text-align: right;
}